beautifulsoup4==4.12.2
faiss-cpu==1.7.4
gpt-index==0.6.8
html2text==2020.1.16
ipykernel==6.22.0
ipython==8.13.1
ipython-genutils==0.2.0
ipywidgets==8.0.6
Jinja2==3.1.2
jupyter==1.0.0
langchain==0.0.171
matplotlib==3.7.1
nltk==3.8.1
numpy==1.23.5
openai==0.27.5
pandas==1.5.3
pdfminer==20191125
Pillow==9.5.0
pydantic==1.10.7
python-dotenv==0.16.0
PyYAML==6.0
regex==2023.3.23
requests==2.29.0
scikit-learn==1.2.2
selenium==4.9.1
tiktoken==0.3.3
tqdm==4.65.0
tabulate==0.9.0
unstructured==0.6.2
webdriver-manager==3.8.6